# IDE
.idea
nbproject
.vscode
.sublime-workspace
GitHub.sublime-settings
Session.vim
Sessionx.vim
.*.swp
.emacs.desktop
.emacs.desktop.lock
.project

# OS
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
.Trashes
