# If you choose to symlink `webroot` from the project root, don't track it in the repository
/webroot

# IDE
.idea
nbproject
.vscode
.sublime-workspace
GitHub.sublime-settings
xcuserdata/
Session.vim
Sessionx.vim
.*.swp
.emacs.desktop
.emacs.desktop.lock
.project
*.bak

# OS
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
.Trashes
