#folder .grid .image-container {
	aspect-ratio: 1;
}
#folder .grid .image-container img {
	/* 1x1 pixel background image */
	width: 100%;
}
#folder .grid .image-container > div {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
}
#media-item {
	text-align: center;
}
#media-item main,
#media-item .image-container img {
	max-height: 85vh;
	max-width: 100%;
}
