#folder .grid {
	gap: .25rem;
	grid-template-columns: repeat(2, minmax(0px, 1fr));
	display: grid;
}
#folder .grid .folder-container {
	aspect-ratio: 1;
	background: radial-gradient(circle, #424242 0%, #2d2d2d 100%);
	border: 1px solid rgba(255, 255, 255, 0.75);
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
#folder .grid .folder-container:hover {
	background: radial-gradient(circle, #484848 0%, #2d2d2d 100%);
	border-width: 2px;
	font-size: 110%;
}
#folder .grid .folder-container {
	color: #fff;
	font-weight: bold;
	transition-property: font-size;
	transition-duration: .15s;
}
@media screen and (min-width: 700px) {
	#folder .grid {
		grid-template-columns: repeat(4, minmax(0px, 1fr));
	}
}
@media screen and (min-width: 1100px) {
	#folder .grid {
		grid-template-columns: repeat(6, minmax(0px, 1fr));
	}
}
