#folder .grid .text-container {
	aspect-ratio: 1;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#folder .grid a.text-container {
	text-decoration: underline;
}
#folder .grid a.text-container:hover {
	color: #fff;
}
#folder .grid .text-container > div {
	padding: 1rem .5rem;
}
#media-item {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#media-item main {
	flex: 1;
}
#media-item .text-container,
#media-item .text-container object {
	width: 100%;
	height: 100%;
}
#media-item .text-container object {
	background-color: #ccc;
}
#media-item footer {
	margin-top: 0;
	padding-bottom: 0;
}
