main.media-item {
	display: flex;
	flex-direction: column;
}
#media-item {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
#media-item .audio .caption {
	background-color: rgba(0, 0, 0, .6);
	padding: .25rem .5rem;
	color: #ddd;
}
#media-item .audio .thumbnail {
	background-size: 100% 100%;
	aspect-ratio: 1;
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 75vh;
	max-width: 100%;
}
#media-item .audio audio {
	width: 100%;
}
#media-item .image img,
#media-item .video video {
	max-height: 85vh;
	max-width: 100%;
}
#media-item .text {
	width: 100%;
	text-align: center;
}
#media-item .text object {
	width: 99%;
	height: 98%;
	background-color: #ccc;
}
.text object {
	color: #fff;
}
footer {
	padding-top: 5rem;
}
