html {
	font-size: 16px;
}
body {
	background: radial-gradient(circle, #424242 0%, #2d2d2d 100%);
	font-family: sans-serif;
}
html, body {
	margin: 0;
	height: 100%;
}
body, a {
	color: #bfbfbf;
}
a {
	text-decoration: none;
}
a.button {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 1.5rem;
	border: none;
	cursor: pointer;
	opacity: .75;
}
a.button:not([disabled]):hover {
	opacity: 1;
}
footer {
	text-align: center;
	padding-bottom: 1.5rem;
}
.app-bar nav {
	display: flex;
	align-items: center;
	padding: 1rem;
}
.app-bar nav > div {
	width: 100%;
}
.app-bar .parent {
	flex: 1;
	text-align: center;
}
.app-bar .next {
	text-align: left;
}
.app-bar .previous {
	text-align: right;
}
.app-bar .next,
.app-bar .previous {
	flex: 2;
}
.app-bar .pagination a.button img {
	width: 1.8rem;
	height: 1.8rem;
}
.app-bar a.button[disabled] {
	opacity: 0.125;
	cursor: unset;
}
.centered-content {
	display: flex;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
