.audio-container {
	display: flex;
	flex-direction: column;
	justify-content: end;
	background-color: #474747;
	background-size: 100% 100%;
}
.audio-container audio {
	width: 100%;
	opacity: .8;
	transition-property: opacity;
	transition-duration: .25s;
}
.audio-container:hover audio {
	width: 100%;
	opacity: .95;
}
.audio-container .playing-indicator {
	display: none;
	animation: blinker 1s linear infinite;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}
.audio-container.playing .caption {
	font-weight: bold;
}
.audio-container.playing:not(.loading) .playing-indicator {
	display: inline;
}
.blink_me {
}
.audio-container .waveform {
	height: 75px;
	background-size: 100% 110%;
	background-position: center;
	position: relative;
	transition-property: opacity;
	transition-duration: .25s;
}
.audio-container[style] .waveform {
	opacity: 0;
}
.audio-container[style]:hover .waveform {
	opacity: .85;
}
.audio-container .elapsed {
	height: 100%;
	width: 0;
	border-right: 1px solid #fff;
	background-color: rgba(200, 200, 200, .2);
	transition-property: width;
	transition-duration: .15s;
}
.audio-container .elapsed.hidden {
	opacity: 0;
}
.audio-container .caption {
	background-color: rgba(0, 0, 0, .6);
	font-size: .9rem;
	color: #ddd;
	width: 100%;
}
.audio-container .caption > * {
	display: block;
	padding: .25rem .5rem;
}
/* Prevent rounded corners in Chrome */
.audio-container audio::-webkit-media-controls-enclosure {
	border-radius: 0;
}
.audio-container.loading {
	background-image: url('/img/loading.gif') !important;
	background-size: unset;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(100, 100, 100, .25);
}
.audio-container.loading .waveform {
	display: none;
}
#folder .grid .audio-container .waveform {
	flex: 1;
	display: flex;
	flex-direction: column;
}
#media-item .audio-container .waveform {
	height: 75px;
}
#folder .grid .audio-container {
	position: relative;
	aspect-ratio: 1;
}
#folder .grid .audio-container .caption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	opacity: .9;
	transition-duration: .25s;
	transition-property: opacity;
}
#folder .grid .audio-container[style]:hover .caption {
	opacity: 0;
}
#folder .grid .audio-container .caption:hover,
#folder .grid .audio-container[style] .caption:hover {
	opacity: 1;
}
#media-item {
	width: 600px;
	margin: 0 auto;
}
#media-item,
#media-item img {
	max-width: 100%;
}
#folder .grid .audio-container .video-js,
#media-item .audio-container .video-js {
	height: 100%;
}
